---
import Layout from "@layouts/prose";
import ContactForm from "@components/utilities/ContactForm";
---
<Layout title="Contact Us">
    <h1>Contact Us</h1>
    <p>
        Ready to turn your ideas into reality? At Left Join Studio, we're eager to collaborate with you and bring your vision to life. Whether you have questions, need a consultation, or are ready to start a project, we're here to help. Fill out the form below to get in touch with us. Let's innovate together.
    </p>
    <ContactForm />
    <hr>
    <h2>Corporate</h3>
    <p>
        Left Join Studio, Inc.<br/>
        2501 Chatham Rd #5352<br/>
        Springfield, IL 62704<br/>
        United States<br/>
        <a href="tel:+18474500523">+1 (847) 450-0523</a><br/>
    </p>
</Layout>
